/*Это квадрат справа*/

.Sidebar {
    padding: 10px;
    margin: 5px;
    background-color: rgba(88, 60, 82, 0);
    margin-left: auto;
    width: 1000px;
}

.Sidebar {
    grid-area: s;
}

.Sidebar ul {
    padding-left: 0;
}

.Sidebar ul li {
    list-style-type: none;
    padding-left: 0;
    font-size: 36px;
    text-align: center;
}

