@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

.Sidebar {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 5px;
    background-color: rgba(97, 97, 97, 0.247);
    margin-left: auto;
    width: 1000px;
    height: 2000px;
    color: aliceblue;
}

.Sidebar {
    grid-area: s;
}

.text{
    color: aliceblue;

}

@media (max-width:900px) {
    .Sidebar {
        padding: 10px;
        margin: 5px;
        background-color: rgba(97, 97, 97, 0.247);
        margin-left: auto;
        width: 375px;
        height: 2000px;
        
    }

    .text{
        color: aliceblue;
    }

}