@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');



.Header-site-header {
    font-family: 'Montserrat', sans-serif;
    padding: 1px;
    margin: 0px;
    text-align: center;
    background-color: rgb(114, 79, 88);
}

.h1{
    color: beige;
    font-size:30px;
	text-shadow: 2px 2px 2px #000;
}

.Header-site-header{
    grid-area: h;
}
