.Icon-site-icon {
    padding: 10px;
    margin: 0px;
    background-color: rgb(114, 79, 88);
    text-align: center;
    display: block;
}

.Icon-site-icon{
    grid-area: i;
}

.img{
    width: 90px;
}